.container-uas {
    border : 2px solid;  
}
.header {
    display: flex;
    padding:0 8px;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width:60px;
    height:60px

}
.header .tahun-ajaran {
    border:2px solid;
    width:200px;
    text-align : center;
}
hr {
    border : 1px solid;
    width : 100%;
    position:relative;
    top:-3px
}
.header-bio th {
    text-align : left
}
.header-bio {
    display: flex;
    padding:0 20px;
    justify-content: space-between;
}
.table-makul {
    width:100%;
    border-collapse: collapse;
}
.makul-table {
    padding : 20px
}
.makul-table th {
    border : 2px solid;
    background-color:rgba(100, 100, 100, 0.4)
}
.makul-table td {
    border : 2px solid;
}
.makul-table .nomor {
    text-align:center
}


.footer {
    height : 100px;
    display: flex;
    padding:0 20px;
    justify-content: space-between;
    
}
.keterangan {
    padding-top:10px
}
.keterangan h4 {
    margin:5px 0
}
.ttd {
    padding-top:0px;
    padding-right : 50px
}
.ttd h4 {
margin : 0
}
.ttd .user {
    margin-top:20px
}