    html, body, .container {
            height: 120%;
        }
        .card {
            border-radius: 10px;
            -webkit-box-shadow: 5px 5px 39px -7px rgba(0,0,64,0.62);
            -moz-box-shadow: 5px 5px 39px -7px rgba(0,0,0,0.62);
            box-shadow: 5px 5px 39px -7px rgba(64,63,64,0.62);
        }